<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneme.toplay"
    android:versionCode="52"
    android:versionName="1.0.5.1"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <permission
        android:name            = "com.oneme.toplay.permission.MAPS_RECEIVE"
        android:protectionLevel = "signature" >
    </permission>

    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name = "android.permission.CALL_PHONE" />
    <uses-permission android:name = "android.permission.CAMERA" />
    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.RECORD_AUDIO" />
    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.READ_PHONE_STATE" />
    <uses-permission android:name = "android.permission.VIBRATE" />
    <uses-permission android:name = "android.permission.WAKE_LOCK" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.WRITE_SETTINGS" />
    <uses-permission android:name = "com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name = "com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- Permission to initialize services -->
    <uses-permission android:name = "android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Permissions to record locations -->
    <uses-permission android:name = "android.permission.BLUETOOTH" />
    <uses-permission android:name = "android.permission.BLUETOOTH_ADMIN" />
    <!-- Permissions to upload tracks -->
    <uses-permission android:name = "android.permission.GET_ACCOUNTS" />

    <uses-permission android:name = "android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name = "android.permission.USE_CREDENTIALS" />
    <uses-permission android:name = "com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name = "com.google.android.googleapps.permission.GOOGLE_AUTH.local" />
    <!-- Permission for Android sync provider -->
    <uses-permission android:name = "android.permission.READ_SYNC_STATS" />
    <uses-permission android:name = "android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name = "android.permission.WRITE_SYNC_SETTINGS" />
    <!--  Permission to read contacts -->
    <uses-permission android:name = "android.permission.READ_CONTACTS" />
    <uses-permission android:name = "com.oneme.toplay.track.MYTRACKS_NOTIFICATIONS" />
    <uses-permission android:name = "com.oneme.toplay.track.READ_TRACK_DATA" />
    <uses-permission android:name = "com.oneme.toplay.track.WRITE_TRACK_DATA" />

    <!-- Permissions to access My Tracks data -->

    <!-- Permission to receive My Tracks internal broadcasts -->
    <permission
        android:description="@string/permission_notification_label"
        android:label="@string/permission_notification_label"
        android:name="com.oneme.toplay.track.MYTRACKS_NOTIFICATIONS"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="signature" />
    <!-- Permission to read track data -->
    <permission
        android:description="@string/permission_read_description"
        android:label="@string/permission_read_label"
        android:name="com.oneme.toplay.track.READ_TRACK_DATA"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="dangerous" />
    <!-- Permission to receive track start/end broadcasts -->
    <permission
        android:description="@string/permission_notification_description"
        android:label="@string/permission_notification_label"
        android:name="com.oneme.toplay.track.TRACK_NOTIFICATIONS"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="dangerous" />
    <!-- Permission to write track data, either directly or through service calls -->
    <permission
        android:description="@string/permission_write_description"
        android:label="@string/permission_write_label"
        android:name="com.oneme.toplay.track.WRITE_TRACK_DATA"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="dangerous" />
    <!-- Permission for map view v2. Note the prefix must be the application package name -->

    <!-- Required features -->

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <!-- Optional features -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony.gsm"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />



    <!-- Ozzie Zhang 2014-11-20 add-->

    <!--
     The following permission is not required to use
     Google Maps Android API v2, but is recommended.
    -->
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion = "0x00020000"
        android:required    = "true" />

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize = "small" android:screenDensity="mdpi" />
        <screen android:screenSize = "small" android:screenDensity="ldpi" />
        <screen android:screenSize = "small" android:screenDensity="hdpi" />
        <screen android:screenSize = "small" android:screenDensity="xhdpi" />

        <screen android:screenSize = "normal" android:screenDensity="ldpi" />
        <screen android:screenSize = "normal" android:screenDensity="mdpi" />
        <screen android:screenSize = "normal" android:screenDensity="hdpi" />
        <screen android:screenSize = "normal" android:screenDensity="xhdpi" />


    </compatible-screens>

    <application
        android:name=".Application"
        android:allowBackup = "true"
        android:icon        = "@drawable/ome_ic_launcher"
        android:logo        = "@drawable/ome_ic_launcher"
        tools:replace="android:label"
        android:label       = "@string/app_name"
        android:theme       = "@style/Theme.Playround.Base" >

        <!--
        <service
            android:name     = "com.oneme.toplay.service.CoreService"
            android:enabled  = "true"
            android:exported = "false"
            android:label    = "Playround" />
        -->

        <!--
        <activity
            android:uiOptions           = "splitActionBarWhenNarrow"
            android:name                = "com.oneme.toplay.MainActivity"
            android:configChanges       = "orientation|screenSize"
            android:windowSoftInputMode = "stateAlwaysHidden" >
        -->

            <!--
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <action android:name   = "android.intent.action.MAIN" />

            <category android:name = "android.intent.category.LAUNCHER" />

            -->

        <!--
        </activity>
        -->

        <!-- android:theme="@style/Theme.AppCompat.Translucent"
        -->
        <activity
            android:name="com.oneme.toplay.LoginActivity"
            android:label="@string/app_name" >

        </activity>



        <!--
        <activity
            android:name=".CreateAccountActivity"

            android:label="@string/app_name" />
        -->

        <!-- android:theme="@style/Theme.AppCompat.Translucent"-->
        <activity
            android:name="com.oneme.toplay.SignUpActivity"

            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>


        <!-- Intent filter for handling tox: links -->
        <!-- <data android:scheme="tox" /> -->

        <!--
        <activity
            android:name=".addfriend.AddFriendActivity"
            android:label="@string/title_activity_add_friend">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oneme.toplay.MainActivity" />



            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tox" />
            </intent-filter>

        </activity>

        -->

        <!--
        <activity
            android:name=".FriendProfileActivity"
            android:label="@string/title_activity_friend_profile"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oneme.toplay.MainActivity" />
        </activity>

        <receiver
            android:name="com.oneme.toplay.base.ConnectionChangeReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        -->




        <!-- come from toplay base -->

        <meta-data android:name = "com.google.android.gms.version"
            android:value       = "@integer/google_play_services_version" />

        <!--ToPlay Google release key-->

        <meta-data
            android:name  = "com.google.android.maps.v2.API_KEY"
            android:value = "AIzaSyCwPhVEURLwyW1C7qi-BNI8j3F4siYPCDI" />


        <!--ToPlay Google debug key-->
        <!--
        <meta-data
            android:name  = "com.google.android.maps.v2.API_KEY"
            android:value = "AIzaSyB1oKFcraix0-A-Fr_DgQPFOqSupmhoJqM" />
        -->

        <!--ToPlay Amap release key-->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4f46e5534eba6dcbbac56745cb75e4e9" />


        <!--ToPlay Amap debug key-->
        <!--
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e98bee1600272451071bd2fa09e5f3b6" />
        -->

        <!--ToPlay Baidu release key-->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uLS9PD8T26iDgPyfLLxYqcfp" />


        <!--ToPlay Baidu debug key-->
        <!--
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QqCWKsVTzLPOKRPjdbGIkhf1" />
        -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>


        <activity
            android:name       = ".invite.InviteNextActivity"
            android:label      = "@string/inviteactivity_title"/>

        <activity
            android:name       = ".invite.SearchActivity"
            android:parentActivityName="com.oneme.toplay.invite.InviteNextActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oneme.toplay.invite.InviteNextActivity" />
        </activity>

        <activity
            android:name       = ".voice.WitActivity"/>





        <!-- this is the searchable activity; it performs searches -->
        <activity
            android:name       = ".SearchVenueActivity"
            android:launchMode = "singleTop" >

            <intent-filter>
                <action android:name = "android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name = "android.intent.action.VIEW" />
            </intent-filter>

            <!--
            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".addfriend.AddFriendActivity"/>
            -->

            <meta-data
                android:name     = "android.app.searchable"
                android:resource = "@xml/ome_searchable_venue"/>
        </activity>


        <!-- this is the searchable activity; it performs searches -->
        <activity
            android:name       = ".addfriend.SearchContactActivity"
            android:launchMode = "singleTop" >

            <intent-filter>
                <action android:name = "android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name = "android.intent.action.VIEW" />
            </intent-filter>

            <!--
            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".addfriend.AddFriendActivity"/>
            -->

            <meta-data
                android:name     = "android.app.searchable"
                android:resource ="@xml/ome_contact_searchable"/>
        </activity>

        <!-- this activity enables the search dialog to initiate searches in the SearchableActivity -->
        <activity android:name = ".addfriend.SearchOtherActivity" >
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name  = "android.app.default_searchable"
                android:value = ".message.ui.addfriend.SearchContactActivity" />

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".addfriend.SearchContactActivity"/>
        </activity>

        <activity
            android:name = ".addfriend.ContactProfileActivity" >
            <!--
            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".message.ui.addfriend.SearchOtherActivity"/>
            -->
        </activity>


        <activity
            android:name = ".addfriend.SendFriendRequestActivity" >

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".addfriend.ContactProfileActivity"/>
        </activity>


        <activity
            android:name = ".addfriend.FriendRadarActivity" >

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".addfriend.AddFriendActivity"/>
        </activity>


        <activity
            android:name = ".addfriend.ShowQRcodeActivity" >

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".addfriend.AddFriendActivity"/>
        </activity>


        <activity
            android:name  = ".join.JoinNextActivity"
            android:label = "@string/joinactivity_title"/>

        <activity
            android:name  = ".join.CommentActivity"
            android:label = "@string/joincommentactivity_title"/>

        <activity
            android:name  = ".join.LikeActivity"
            android:label = "@string/joinlikeactivity_title"/>

        <activity
            android:name  = ".join.ScoreboardActivity"
            android:label = "@string/joinscoreactivity_title"/>

        <activity
            android:name  = ".join.PlayerActivity"
            android:label = "@string/joinplayeractivity_title"/>


        <activity
            android:name  = ".local.LocalAsyncActivity"
            android:label = "@string/localactivity_title">
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name  = "android.app.default_searchable"
                android:value = ".SearchVenueActivity" />
        </activity>



        <!--
        <activity
            android:name  = ".local.CnLocalActivity"
            android:label = "@string/localactivity_title"/>
        -->


        <activity
            android:name = ".me.SettingActivity"
            android:label="@string/settingactivity_title"/>

        <activity
            android:name = ".me.MeActivity"
            android:label="@string/meactivity_title"/>

        <activity
            android:name = ".me.MySportActivity">

        </activity>

        <activity
            android:name = ".me.MyVenueActivity"
            android:label="@string/myvenueactivity_title"/>

        <activity
            android:name = ".me.VenueSearchActivity"
            android:label="@string/venuesearchactivity_title"/>

        <activity
            android:name = ".me.UploadVenueActivity"
            android:label="@string/myvenueactivity_title"/>



        <!--
        <activity
            android:name = ".me.CnVenueSearchActivity"
            android:label="@string/myvenuesearchactivity_title"/>
        -->

        <activity
            android:name = ".me.VenueRadarActivity"
            android:label="@string/myvenueradaractivity_title"/>



        <activity
            android:name = ".me.MatchDetailActivity">

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".me.MySportActivity"/>
        </activity>


        <activity
            android:name = ".me.ProfileActivity"
            android:label="@string/meprofilreactivity_title">

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".me.MeActivity"/>
        </activity>

        <activity
            android:name = ".me.MyProfileActivity">
        </activity>



        <activity
            android:name = ".me.FeedbackActivity"/>

        <activity
            android:name = ".ui.MessageListActivity"
            android:label = "@string/messagelistactivity_title"/>

        <activity
            android:name = ".MessageReplyActivity"
            android:label = "@string/messagereplyactivity_title"/>




        <activity
            android:name              = ".MapActivity"
            android:label             = "@string/mainactivity_title"
            android:screenOrientation = "portrait"
            />
        <!--
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        -->

        <activity
            android:name              = ".CnMapActivity"
            android:label             = "@string/mainactivity_title"
            android:screenOrientation = "portrait"
            />


        <activity
            android:name = ".venue.OwnerInfoUploadActivity"
            android:label= "@string/ownerinfouploadactivity_title"/>

        <activity
            android:name = ".venue.OwnerMainActivity"
        />

        <activity
            android:name = ".venue.DetailInfoActivity"
            android:label= "@string/venuedetailinfoactivity_title" />

        <activity
            android:name = ".venue.CommentActivity"
            android:label= "@string/joincommentactivity_title" />

        <activity
            android:name = ".venue.BookingActivity"
            android:label= "@string/bookingactivity_title" >

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".venue.DetailInfoActivity"/>
        </activity>

        <activity
            android:name = ".venue.BuyPrimeMembershipActivity"
            android:label= "@string/buyprimemembershipactivity_title" >

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".venue.DetailInfoActivity"/>
        </activity>

        <activity
            android:name = ".venue.VenueNextActivity"
            android:theme= "@style/Theme.Playround.MySchedule"
            android:label= "@string/venuesearchactivity_title"/>

        <activity
            android:name = ".venue.PrimeBusinessActivity"
            android:theme= "@style/Theme.Playround.MySchedule" />





        <activity
            android:name = ".ui.LocalNextActivity"
            android:label= "@string/localactivity_title"
            android:theme="@style/Theme.Playround.MySchedule"
            android:launchMode="singleTop"/>

        <activity
            android:name = ".ui.CnLocalNextActivity"
            android:label= "@string/localactivity_title"
            android:theme="@style/Theme.Playround.MySchedule"
            android:launchMode="singleTop"/>

        <activity
            android:name = ".ui.CnMapNextActivity"
            android:theme= "@style/Theme.Playround.MySchedule" />

        <activity
            android:name = ".ui.VenueTypeAndSearchActivity"
            android:theme= "@style/Theme.Playround.MySchedule"
            android:label= "@string/venuetypesearchactivity_title"/>

        <activity
            android:name = ".ui.MapNextActivity"
            android:theme="@style/Theme.Playround.MySchedule" />



        <activity
            android:name = ".ui.SettingNextActivity"
            android:theme="@style/Theme.Playround.MySchedule" />



        <activity
            android:name = ".pay.PayBookingVenueActivity"
            android:label = "@string/OMEPARSEBOOKINGCONFIRMTITLE">

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".venue.BookingActivity"/>
        </activity>

        <activity
            android:name = ".pay.PayBuyPrimeMembershipActivity"
            android:label = "@string/OMEPARSEBOOKINGCONFIRMTITLE">

            <meta-data
                android:name  = "android.support.PARENT_ACTIVITY"
                android:value = ".venue.BuyPrimeMembershipActivity"/>
        </activity>


        <activity
            android:name = ".weather.WeatherActivity"
        />

        <activity
            android:name               = ".DispatchActivity"
            android:noHistory          = "true" >
            <intent-filter>
                <action android:name   = "android.intent.action.MAIN" />
          <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <!-- <meta-data android:name = "com.facebook.sdk.ApplicationId"
             android:value="@string/facebook_app_id"/>
        -->

        <!--
        <provider
            android:name=".base.third.geocoder.PlaceProvider"

            android:authorities="com.oneme.toplay.base.third.geocoder.PlaceProvider"
            android:enabled="true"
            android:multiprocess="true"
            android:exported="false" >
        </provider>
        -->

        <provider android:name=".VenueSuggestionProvider"
            android:authorities="com.oneme.toplay.VenueSuggestionProvider" />



        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!-- alipay sdk end -->



        <!-- track feature  begin -->




        <activity android:name="com.oneme.toplay.track.MarkerEditActivity" />
        <activity android:name="com.oneme.toplay.track.MarkerDetailActivity" />
        <activity
            android:label="@string/menu_markers"
            android:name="com.oneme.toplay.track.MarkerListActivity" >
        </activity>

        <activity
            android:name="com.oneme.toplay.track.TrackDetailActivity"
            android:parentActivityName="com.oneme.toplay.track.TrackListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oneme.toplay.track.TrackListActivity" />
        </activity>
        <activity
            android:name="com.oneme.toplay.track.TrackDetailNextActivity"
            android:parentActivityName="com.oneme.toplay.track.TrackListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oneme.toplay.track.TrackListActivity" />
        </activity>
        <activity android:name="com.oneme.toplay.track.TrackEditActivity" />
        <activity android:name="com.oneme.toplay.track.TrackListActivity"
                  android:label= "@string/navdrawer_item_workout">

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.oneme.toplay.track.SearchListActivity" />
        </activity>

        <activity android:name="com.oneme.toplay.track.io.file.exporter.SaveActivity" />

        <activity android:name="com.oneme.toplay.track.settings.AdvancedSettingsActivity" />
        <activity android:name="com.oneme.toplay.track.settings.ChartSettingsActivity" />
        <activity android:name="com.oneme.toplay.track.settings.MapSettingsActivity" />
        <activity android:name="com.oneme.toplay.track.settings.RecordingSettingsActivity" />
        <!--<activity android:name="com.google.android.apps.mytracks.settings.SensorSettingsActivity" /> -->
        <activity android:name="com.oneme.toplay.track.settings.SettingsActivity" />
        <activity android:name="com.oneme.toplay.track.settings.StatsSettingsActivity" />
        <activity
            android:label="@string/track_widget_config_title"
            android:name="com.oneme.toplay.track.widgets.TrackWidgetConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Services -->
        <service
            android:name="com.oneme.toplay.track.services.ActivityRecognitionIntentService" />
        <service
            android:exported="false"
            android:name="com.oneme.toplay.track.services.ControlRecordingService" />
        <service
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_arrow_320"
            android:label="@string/my_tracks_recording_service"
            android:name="com.oneme.toplay.track.services.TrackRecordingService"
            android:permission="com.oneme.toplay.track.WRITE_TRACK_DATA" />
        <!-- Receivers -->
        <receiver android:name="com.oneme.toplay.track.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.oneme.toplay.track.widgets.TrackWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.oneme.toplay.track.TRACK_PAUSED" />
                <action android:name="com.oneme.toplay.track.TRACK_RESUMED" />
                <action android:name="com.oneme.toplay.track.TRACK_STARTED" />
                <action android:name="com.oneme.toplay.track.TRACK_STOPPED" />
                <action android:name="com.oneme.toplay.track.TRACK_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/track_widget_info" />
        </receiver>
        <!-- Providers -->
        <!-- My Tracks data provider -->
        <provider
            android:authorities="com.oneme.toplay"
            android:exported="true"
            android:grantUriPermissions="true"
            android:name="com.oneme.toplay.track.content.TracksProvider"
            android:readPermission="com.oneme.toplay.track.READ_TRACK_DATA"
            android:writePermission="com.oneme.toplay.track.WRITE_TRACK_DATA" />

    </application>

</manifest>
